    body {
        position: absolute;
        width: 100%;
        margin-left: -0.1%;
    }
    
    .header {
        background-image: url('img/bike.jpg');
        position: relative;
        width: 100%;
        height: calc(80vh - 50px);
        margin-top: -1%;
    }
    
    .menu #menul {
        padding: 5px 5px;
        margin: 5px;
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 14px;
        margin-left: 10%;
    }
    
    .menu ul li a {
        padding: 10px 3px;
        margin: 5px;
        color: #fff;
        text-decoration: none;
        font-weight: 500;
    }
    
    .menu ul li {
        display: inline-block;
    }
    
    .menu #menur {
        padding: 5px 5px;
        margin: 2px;
        color: #fff;
        text-decoration: none;
        margin-left: 70%;
        margin-top: -4.5%;
        font-weight: 500;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 14px;
    }
    
    .logo img {
        width: 200px;
        height: 50px;
        margin-left: 13%;
    }
    
    .btn-anu a {
        display: inline-block;
        text-decoration: none;
        background-color: #00CD45;
        color: #fff;
        font-weight: 500;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15px;
        padding: 20px 25px;
        margin-left: 72.5%;
        margin-top: -8%;
    }
    
    .titulo {
        height: 192px;
        width: 563px;
        color: #FFFFFF;
        font-family: "Trade Gothic Next LT Pro";
        font-size: 50px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 64px;
        margin-left: 10%;
    }
    
    .menuf {
        background-color: #FFFFFF;
        width: 60%;
        padding: 5px 5px;
        margin: 5px;
        text-decoration: none;
        font-weight: 500;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 14px;
        margin-left: 18%;
        margin-top: 20.5%;
        box-shadow: 0 4px 15px 0 rgba( 0, 0, 0, 0.7);
    }
    
    .menuf ul li a {
        padding: 10px 20px;
        margin: 5px;
        color: rgb(51, 51, 51);
        text-decoration: none;
        font-weight: 500;
    }
    
    .menuf ul li {
        display: inline-block;
    }
    /*main*/
    
    .boxs {
        margin-left: 7%;
        margin-top: 5%;
    }
    
    .boxs ul li {
        display: inline-block;
    }
    
    .box {
        width: 225px;
        height: 15%;
        background: #fff;
        margin: 10px 10px 10px 10px 10px;
        border: 0.1px solid #ebebebad;
        border-radius: 2px;
        position: relative;
    }
    
    .box h4 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }
    
    .box img {
        width: 200px;
        height: 115px;
    }
    
    .anuncios {
        margin-left: 10%;
    }
    
    .anuncios h1 {
        margin-left: 5%;
        font-size: 25px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .anuncio {
        border: 1px solid #242424ad;
        margin: 15px 15px 15px 15px;
        height: 293px;
        width: 260px;
    }
    
    .anuncio small {
        color: rgb(139, 139, 139);
        text-align: justify;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .anuncio h1 {
        text-align: justify;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 22px;
    }
    
    .anuncio img {
        width: 100%;
    }
    
    .btn-anun {
        display: inline-block;
        text-decoration: none;
        font-weight: 500;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15px;
        padding: 10px 15px;
        border: 0.1px solid #000000ad;
        margin: 3px 7px 10px 3px;
    }
    
    .black-btn {
        background-color: #000000;
        color: #fff;
    }
    
    .white-btn {
        background-color: #ffffff;
        color: rgb(0, 0, 0);
    }
    
    .an {
        background-image: url('img/bike.jpg');
        position: relative;
        width: 100%;
        height: calc(55vh - 50px);
        margin-top: -1%;
    }
    
    .titulos {
        height: 192px;
        width: 563px;
        color: #FFFFFF;
        font-family: "Trade Gothic Next LT Pro";
        font-size: 35px;
        font-weight: bold;
        /* letter-spacing: 0;*/
        /* line-height: 64px;*/
        margin-left: 10%;
    }
    
    .texto {
        height: 192px;
        width: 563px;
        color: #FFFFFF;
        font-family: "Trade Gothic Next LT Pro";
        font-size: 23px;
        /* letter-spacing: 0;*/
        /* line-height: 64px;*/
        margin-left: 10%;
    }
    
    .botao {
        display: inline-block;
        text-decoration: none;
        background-color: #00CD45;
        color: #fff;
        font-weight: 500;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15px;
        padding: 20px 25px;
        margin-left: 10%;
        margin-top: -8%;
    }